@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* reset.css의 확장 */
  /* h1{}
  h2{} */
  @font-face {
    font-family: "Pretendard-Regular";
    src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
      format("woff");
    font-weight: 400;
    font-style: normal;
  }
  :root {
    font-size: 62.5%;
    font-family: pretendard
  }
  

  /* html {
    font-family: Pretendard-Regular;
  } */
}

@layer components {
  /* 자주쓰는 속성들끼리 모아 커스텀 속성을 만들 수 있다. */
  /* <div className="flexCenter"> 처럼 적용 가능 */
  .flexCenter {
    @apply flex flex-col items-center justify-center;
  }
}
